p{
    margin: 0;
}
.fullpage{
    position: relative;
}

.title,.time,.tips{
    text-align: center;
    color: #fff;
}
.title{
    color: #fff;
    font-size: 6vh;
    text-shadow: 2px 2px 3px  rgba(0,0,0,0.5);
}
.title-2{
    margin-bottom: 2vh;
}

.time{
    font-size: 3vh;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    padding-bottom: 40vh;
}
.tips{
    height: 6vh;
    width: 50vw;
    line-height: 6vh;
    border-radius: 1vh;
    background-color: #f0c;
    text-align: center;
    margin: 0 auto;
}

.thx{
    text-align: center;
    color: #fff;
    font-size: 6vh;
    text-shadow: 2px 2px 3px  rgba(0,0,0,0.5);
    padding-bottom: 50vh;
}
.replay{
    height: 6vh;
    width: 50vw;
    line-height: 6vh;
    border-radius: 1vh;
    background-color: #f0c;
    text-align: center;
    margin: 0 auto;
    color: #fff;
}





.my-section{
    background-size: cover;
}

.my-section-0{
    background-image: url("../images/bg/1.jpeg");
}

.my-section-1{
    background-image: url("../images/bg/1.jpeg");
}
.my-section-2{
    background-image: url("../images/bg/2.jpeg");
}
.my-section-3{
    background-image: url("../images/bg/3.jpeg");
}
.my-section-4{
    background-image: url("../images/bg/4.jpeg");
}
.my-section-5{
    background-image: url("../images/bg/5.jpeg");
}
.my-section-6{
    background-image: url("../images/bg/2.jpeg");
}

.my-people-img{
    display: block;
    position: absolute;
    margin: 5vh auto;
    max-width: 86vw;
    max-height: 86vh;
    border: 1vh solid #fff;
    box-shadow: .5vh .5vh 2vh rgba(0, 0, 0, .3);
    left: 50%;
    margin-left: -45vw;
    opacity: 0;
}
.my-image-1{
    top: 5vh;
}
.my-image-2{
    top: 15vh;
}
.my-image-3{
    top: 25vh;
}
.my-image-4{
    top: 35vh;
}
.my-image-5{
    top: 45vh;
}


.my-section-1{
    .my-image-1{
        transform: translateY(30vw) rotate(10deg);
    }
    .my-image-2{
        transform: translateY(30vw) rotate(-20deg);
    }
    .my-image-3{
        transform: translateY(30vw) rotate(10deg);
    }
    .my-image-4{
        transform: translateY(30vw) rotate(-15deg);
    }
    .my-image-5{
        transform: translateY(30vw) rotate(10deg);
    }
}
.my-section-2{
    .my-people-img{
        transform: scale(0.5);
    }
}
.my-section-3{
    .my-people-img{
        transform: translateY(30vh);
    }
}
.my-section-4{
    .my-people-img{
        transform: scale(0.1) rotate(40deg);
    }
}
.my-section-5{
    .my-people-img{
        transform: scale(1.5) translateY(-10vw) translateX(-10vh);
    }
}

.audio{
    position: fixed;
    top: -100px;
    left: 0;
}

.playBtn{
    position: fixed;
    height: 12vw;
    width: 12vw;
    top: 4vw;
    right: 4vw;
    background-color: rgba(0,0,0,0.3);
    background-color: rgba(255,255,255,0.3);
    border-radius: 10vw;
    background-image: url(../images/icons/notification_forbid_fill.svg);
    background-size: 6vw 6vw;
    background-position: 3vw 3vw;
    background-repeat: no-repeat;
}
.playBtn.playing{
    
    background-image: url(../images/icons/notification_fill.svg);
    // background-color: #ffdc00;
}